
Library/
Assembly-CSharp.csproj
Assembly-CSharp.csproj
Assets/Lv0/TileMap/Fondo.spriteatlas
*.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Temp/__Backupscenes/0.backup
Temp/UnityLockfile
Temp/workerlic
Temp/FSTimeGet-6044a5dff65c2364fbe12767741f5f4e
Logs/shadercompiler-UnityShaderCompiler.exe0.log
UserSettings/Layouts/default-2021.dwlt
